<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stanford.vertigosensor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Vertigo Sensor</name>
    <description>
        Companion app for the Stanford Wearable Vertigo Sensor
    </description>
    <author email="ryanress@stanford.edu" href="">
        PoHung Kuo and Ryan Ressmeyer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-ble" spec="~2.0.1" />
    <!-- REMEMBER TO REDUCE ACCESS ON DEPLOYMENT -->
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
</widget>
